* {
    box-sizing: border-box;
  }
  
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    text-align: center;
    min-width: 50%;
    flex-wrap: wrap;
    padding-bottom: 5px;

  } 
.flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4, .flex-item-5, .flex-item-6, .flex-item-7, .flex-item-8 {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 180px; 
}

.flex-item-1 {
    background-color: green;

    
  }
  
.flex-item-2 {
    background-color: yellow;

  }
  
.flex-item-3 {
    background-color: red;
;

  }
.flex-item-4 {
    background-color: blue;



  }
.flex-item-5 {
    background-color: green;



  }
.flex-item-6 {
    background-color: yellow;



  }
.flex-item-7 {
    background-color: red;



  }
.flex-item-8 {
    background-color: blue;



  }
  
  
@media (max-width: 500px) {
    .flex-container, .flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4, .flex-item-5, .flex-item-6, .flex-item-7, .flex-item-8 {
      flex-direction: column;
      flex: 100%;
      width: 100%;

    }
  }