* {
	color: blue;
	font-family: courier;
}


h1 {
	color: green;
	font-size: 50px;
	font-family: courier;
}

h2 {
	color: red;
}

h3 {
	font-size: 50;
}

h4 {
	color: green;
}
h5{
	color: green;
	font-size: 100px;
}

h7,h9,h6 {
	color: green;
} 
h6{
	font-size: 50px;
}

.mainbody{
	margin-left: auto;
	margin-right: auto;
}
.author img{
	height: 150px;
	width: auto;
	border-radius: 50%;
	float: left;
	margin-left: 45%;
	margin-right: 55%;
	margin-top: auto;
}
.author{
	border-top: 1px solid rgb(146, 144, 144);
	padding-top: 10px;
	margin-bottom: 50px;
}
.sidebar{
  width: 25%;
  float: right;
  color: green;
}
.maintext2{
	width: 75%;
	float: left;
}
h11{
	float: right;
}
h12{
	font-size: 50px;
	color: rgb(29, 211, 23);
}
h13{
	font-size: 30px;
	color: red;
}
p1{
	color: rgb(74, 163, 74);
}
.block1{
	background-color: yellow;
	float: left;
    padding-block: 140px;
	width: 33%;
}
.block2{
	background-color: red;
	float: left;
    padding-block: 140px;
	width: 33%;
}
.block3{
	background-color: blue;
	float: left;
    padding-block: 140px;
	width: 33%;
}
.block4{
	background-color: green;
	float: left;
    padding-block: 140px;
	width: 33%;
}
.block5{
    background-color: whitesmoke;
	float: left;
    padding-block: 140px;
	width: 33%;
	color: black;
}
.block6{
	background-color: purple;
	float: left;
    padding-block: 140px;
	width: 33%;
}
.block7{
	background-color: gray;
	float: left;
    padding-block: 140px;
	width: 33%;
}
.block8{
	background-color: hotpink;
	float: left;
    padding-block: 140px;
	width: 33%;
}
.block9{
	background-color: orange;
	float: left;
    padding-block: 140px;
	width: 33%;
}
h14, h15, h16, h17, h18, h19, h20, h21, h22{
	color: black;
	margin-left: 45%;
}
.block5 a{
	margin-left: 45%
}