* {
	color: blue;
	font-family: courier;
}


h1 {
	color: green;
	font-size: 50px;
	font-family: courier;
}

h2 {
	color: red;
}

h3 {
	font-size: 50;
}

h4 {
	color: green;
}
h5{
	color: green;
	font-size: 100px;
}

h7,h9,h6 {
	color: green;
} 
h6{
	font-size: 50px;
}

.mainbody{
	margin-left: auto;
	margin-right: auto;
}
.author img{
	height: 150px;
	width: auto;
	border-radius: 50%;
	float: left;
	margin-left: 45%;
	margin-right: 55%;
	margin-top: auto;
}
.author{
	border-top: 1px solid rgb(146, 144, 144);
	padding-top: 10px;
	margin-bottom: 50px;
}
.sidebar{
  width: 25%;
  float: right;
  color: green;
}
.maintext2{
	width: 75%;
	float: left;
}
h11{
	float: right;
}
h12{
	font-size: 50px;
	color: rgb(29, 211, 23);
}
h13{
	font-size: 30px;
	color: red;
}
p1{
	color: rgb(74, 163, 74);
}